<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<dom-module id="ug-convocatoria-head">
  <template>
    <style>
      :host {
        display: block;
      }

      .wrapper {
        padding-top: 1rem;
      }

      .content {
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 15px 15px 15px 15px;
      }
    </style>
    <iron-ajax auto url="[[path]]" handle-as="json" last-response="{{ajaxResponse}}"></iron-ajax>
    <iron-ajax auto url="{{url}}" handle-as="json" last-response="{{response}}" loading="{{loading}}"></iron-ajax>
    <div class="wrapper">
      <div class="content">
        <div class="convocatoria">
          <b>Convocatoria:</b> {{ajaxResponse.convDescripcion}}[[response.descr_convocatoria]]
        </div>
        <div class="modalidad">
          <b>Modalidad:</b> {{ajaxResponse.modDescripcion}}[[response.descr_modalidad]]</div>
        <div class="fechas">
          <b>Vigencia:</b> {{convFechaInicio}}[[_getDateISOFormat(response.fecha_inicio_convocatoria)]] - {{convFechaFin}}[[_getDateISOFormat(response.fecha_fin_convocatoria)]]</div>
      </div>
    </div>
  </template>

  <script>
    /**
     * `ug-convocatoria-head`
     * Despliega el los datos de Nombre, Modalida y Descripcon de la convocatoria en base al idResponsable  pasado para hacer una consulta con iron-ajax
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class UgConvocatoriaHead extends Polymer.Element {
      static get is() { return 'ug-convocatoria-head'; }
      static get properties() {
        return {
          convFechaInicio: String,
          convFechaFin: String,
          path: String,
          meses: {
            type: Array,
            value: ['ene', 'feb', 'mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic']
          },
          idResponsable: { type: Number, observer: '_obsIdRes' },
          ajaxResponse: { type: Array, observer: '_obsAjaxResponse' },
          idEvaluacion: { type: Number, observer: '_idEvaluacionObserver' },
          response: { type: Object },
        };
      }

      static get observers() { return ['_obsAjaxResponse(ajaxResponse.*)'] }

      _obsAjaxResponse() {
        if (this.ajaxResponse != null) {
          var dI = this.ajaxResponse.convInicio;
          dI = new Date(Number(dI.substring(6, dI.length - 2)));
          var dia = (dI.getDate() > 10) ? dI.getDate() : '0' + dI.getDate();
          this.convFechaInicio = dia + '/' + this.meses[dI.getMonth()] + '/' + dI.getFullYear();
          dI = this.ajaxResponse.convFin;
          dI = new Date(Number(dI.substring(6, dI.length - 2)));
          dia = (dI.getDate() > 10) ? dI.getDate() : '0' + dI.getDate();
          this.convFechaFin = dia + '/' + this.meses[dI.getMonth()] + '/' + dI.getFullYear();
        }
      }

      _obsIdRes() {
        this.path = App.Config.apppath + '/Convocatoria/findHeaderDataByIdResposable/' + this.idResponsable;
        // this.path = `https://intraug.ugto.mx/Convocatoria/Convocatoria/findHeaderDataByIdResposable/${this.idResponsable}`;
      }

      _idEvaluacionObserver() {
        this.url = App.Config.apppath + '/Evaluacion/findHeaderDataByIdEvaluacion/' + this.idEvaluacion;
        // this.url = `https://intraug.ugto.mx/Convocatoria/Evaluacion/findHeaderDataByIdEvaluacion/${this.idEvaluacion}`;
      }

      _getDateISOFormat(date, opc) {
        let d;
        if (opc === 0) {
          d = new Date(date);
        }
        else {
          d = formatTimestampToDate(date);
        }
        let month = d.getMonth() + 1;
        return ((d.getDate() >= 10) ? d.getDate() : "0" + d.getDate()) + "-" + ((month >= 10) ? month : "0" + month) + "-" + d.getFullYear();
      }
      _formatTimestampToDate(date) {
        return new Date(parseInt(date.substr(6)));
      }
    }

    window.customElements.define(UgConvocatoriaHead.is, UgConvocatoriaHead);
  </script>
</dom-module>